body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(180deg, #c1e8ff, #7da0ca, #5483b3, #052659); 
    color: #ffffff; 
}

.navbar {
    background-color: rgba(2, 131, 196, 0.9) !important;
    color : #000000; 
    box-shadow: 0 4px 8px rgba(14, 13, 13, 0.2);
}

.nav-link {
    font-weight: bold; 
    transition: color 0.3s, transform 0.3s;
}

.nav-link:hover {
    color: #112436; 
    transform: scale(1.05) translateX(10px); 
}
.dropdown-menu {
    background-color: rgba(2, 131, 196, 0.9) !important;
    color : #000000; 
    box-shadow: 0 4px 8px rgba(14, 13, 13, 0.2);
    transition: opacity 0.3s ease, visibility 0.3s ease; 
    opacity: 0; 
    visibility: hidden; 
}

.dropdown.show .dropdown-menu {
    opacity: 1; 
    visibility: visible; 
}

.dropdown-item {
    color: #ffffff;
    font-weight: bold; 
    transition: color 0.3s, transform 0.3s;
}

.dropdown-item:hover {
    background-color: transparent;
    color: #ffffff;
    transform: scale(1.05) translateX(10px);
}

.container {
    padding-top: 100px;
}

.img-Karikatur {
    width: 80%; 
    max-width: 200%; 
    height: auto;
    margin : 0;
}

@media (min-width: 768px) {
    .flex-wrap-reverse {
        flex-wrap: wrap-reverse;
    }
}

@keyframes float {
    0% {
        transform: translateY(-50px); 
        opacity: 0; 
    }
    100% {
        transform: translateY(0);
        opacity: 1; 
    }
}

.animate-float {
    animation: float 3s ease-out; 
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
.fade-in-left {
    animation: fadeInLeft 1s ease forwards;
  }

.img-Karikatur {
    animation: slideInLeft 3s ease forwards;
    opacity: 0;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}



