body {
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #c1e8ff, #7da0ca, #5483b3, #052659); 
  color: #052659;
  text-align: center;
}

.container {
  width: 60%;
  margin: auto;
  padding: 20px;
  background-color: #7DA0CA;
  border-radius: 8px;
}

h1 {
  color: #052659;
}

.question {
  margin: 20px 0;
  padding: 15px;
  background-color: #5483B3;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
  margin-top: 10px;
  border: 1px solid #052659;
  border-radius: 4px;
  width: 80%;
}

button {
  padding: 8px 15px;
  background-color: #052659;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #5483B3;
}

.hint {
  color: #052659;
  font-size: 16px;
  margin-top: 10px;
}

.solution {
  color: #052659;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.back-box {
            font-family: Arial, sans-serif;
            background: linear-gradient(45deg, #052659, #5483B3, #7DA0CA, #C1E8FF);
            height: 100vh;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            display: inline-block;
            padding: 20px;
            background-color: #052659;
            color: #FFFFFF;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            text-decoration: none;
            transition: all 0.3s ease;
            width: 200px;
  }
  .back-box:hover {
            background-color: #5483B3;
            transform: scale(1.05);
  }
