
.navbar {
    background-color: rgba(2, 131, 196, 0.9) !important;
    color : #000000; 
    box-shadow: 0 4px 8px rgba(14, 13, 13, 0.2);
}

.nav-link {
    font-weight: bold; 
    transition: color 0.3s, transform 0.3s;
}

.nav-link:hover {
    color: #112436; 
    transform: scale(1.05) translateX(10px); 
}
.dropdown-menu {
    background-color: rgba(2, 131, 196, 0.9) !important;
    color : #000000; 
    box-shadow: 0 4px 8px rgba(14, 13, 13, 0.2);
    transition: opacity 0.3s ease, visibility 0.3s ease; 
    opacity: 0; 
    visibility: hidden; 
}

.dropdown.show .dropdown-menu {
    opacity: 1; 
    visibility: visible; 
}

.dropdown-item {
    color: #ffffff;
    font-weight: bold; 
    transition: color 0.3s, transform 0.3s;
}

.dropdown-item:hover {
    background-color: transparent;
    color: #ffffff;
    transform: scale(1.05) translateX(10px);
}

@media (min-width: 768px) {
    .flex-wrap-reverse {
        flex-wrap: wrap-reverse;
    }
}
