body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(120deg, #06f8a7, #0baefa); 
    color: #ffffff; 
}

.navbar {
    background-color: rgba(7, 199, 206, 0.9) !important;
    color : #000000; 
}


.nav-link {
    font-weight: bold;
}

.container {
    padding-top: 50px;
}

